services:
  app:
    container_name: smart-budget-app-prod
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    ports:
      - "8080:8000"
    volumes:
      - ./data:/app/data
    restart: unless-stopped
    environment:
      - ENVIRONMENT=production
    env_file:
      - .env
    deploy:
      resources:
        limits:
          memory: 1500M
        reservations:
          memory: 256M
