services:
  app:
    container_name: home-budget-agent-prod
    image: ghcr.io/bobby-pole/home-budget-agent:latest
    ports:
      - "8080:8000"
    volumes:
      - ./data:/app/data
    restart: unless-stopped
    environment:
      - ENVIRONMENT=production
    env_file:
      - .env
    networks:
      - app_network
    deploy:
      resources:
        limits:
          memory: 1500M
        reservations:
          memory: 256M

networks:
  app_network:
    external: true
