services:
  app:
    container_name: home-budget-agent-prod
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    volumes:
      - ./data:/app/data
    restart: unless-stopped
    environment:
      - ENVIRONMENT=production
    env_file:
      - .env
    networks:
      - app_network
    deploy:
      resources:
        limits:
          memory: 1500M
        reservations:
          memory: 256M

networks:
  app_network:
    external: true
